.preloader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20001;
}

.preloader .dots .dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  border-radius: 50%;
  -webkit-animation: dot-dot-dot 1.4s linear infinite;
  animation: dot-dot-dot 1.4s linear infinite;
}

.preloader .dots .dot:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.preloader .dots .dot:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes dot-dot-dot {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
    transform: initial;
  }
  30% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@keyframes dot-dot-dot {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
    transform: initial;
  }
  30% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}
