.related {
  margin: 5rem 0 0;
}

.related .posts {
  gap: 1rem;
}

.related .posts .post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  gap: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.related .posts .post .media .attachment-post-thumbnail {
  margin-bottom: 0;
}

.related .posts .post .content-box .button {
  margin-bottom: 0;
}

@media (min-width: 478px) {
  .related .posts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (min-width: 576px) {
  .related {
    margin: 6rem 0 0;
  }
  .related .posts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .related {
    margin: 8rem 0 0;
  }
  .related .posts {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .related .posts .post {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .related .posts .post .media .attachment-post-thumbnail {
    margin-bottom: 0;
  }
}
