header {
    .container {
        display: grid;
        grid-template-columns: 113px auto;
        justify-content: space-between;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    header {
        .container {
            padding-top: 3.5rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    header {
        .container {
            padding-top: 7rem;
        }
    }
}
