.work {
  .description {
    margin-bottom: 1rem;
  }

  .posts {
    display: grid;
    gap: 2.75rem;

    .post {
      .media {
        margin: 0 0 1.25rem;
        transition: box-shadow 0.2s ease-in-out;

        .wp-post-image {
          border-radius: $borderRadius;
        }

        &:hover,
        &:focus,
        &:active {
          box-shadow: $boxShadow;
        }
      }

      .title {
        margin-bottom: 0.5rem;
      }

      .button {
        margin-bottom: 0.5rem;
      }
    }
  }
}

// Small devices (478px and up)
@media (min-width: 478px) {
  .work {
    .posts {
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem 1rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .work {
    .posts {
      gap: 2.5rem 2rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .work {
    .posts {
      gap: 3.5rem 3rem;

      .post {
        .media {
          margin: 0 0 1.5rem;
        }
      }
    }
  }
}
