@font-face {
	font-family: "a45";
	src: url("../fonts/coresansa45regular-webfont.eot");
	src: url("../fonts/coresansa45regular-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/coresansa45regular-webfont.woff2") format("woff2"),
		url("../fonts/coresansa45regular-webfont.woff") format("woff"),
		url("../fonts/coresansa45regular-webfont.ttf") format("truetype"),
		url("../fonts/coresansa45regular-webfont.svg#core_sans_a_45_regularregular")
			format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "a55";
	src: url("../fonts/coresansa55medium-webfont.eot");
	src: url("../fonts/coresansa55medium-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/coresansa55medium-webfont.woff2") format("woff2"),
		url("../fonts/coresansa55medium-webfont.woff") format("woff"),
		url("../fonts/coresansa55medium-webfont.ttf") format("truetype"),
		url("../fonts/coresansa55medium-webfont.svg#core_sans_a_55_mediumregular")
			format("svg");
	font-weight: normal;
	font-style: normal;
}
