h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $baseFont;
  font-weight: inherit;

  a {
    color: $black;
  }
}

h1,
.h1 {
  font-size: 1.5rem;
  line-height: 1.6666;
}

h2,
.h2 {
  font-size: 1.25rem;
  line-height: 1.4;
}

h3,
.h3 {
  font-size: 1.125rem;
  line-height: 1.3333;
}

h4,
.h4 {
  font-size: 0.875rem;
  line-height: 1.4286;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h5,
.h5 {
  font-size: 0.875rem;
  line-height: 1.4286;
  color: $gray;
}

h6,
.h6 {
  font-size: 0.875rem;
  line-height: 1.4286;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $gray;
}

p {
  font-size: 1.125rem;
  line-height: 1.55555;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1,
  .h1 {
    font-size: 2rem;
    line-height: 1.5;
  }

  h2,
  .h2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  h3,
  .h3 {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  h4,
  .h4 {
    font-size: 0.9375;
    line-height: 1.3333;
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  h5,
  .h5 {
    font-size: 0.9375;
    line-height: 1.3333;
    color: $gray;
  }

  h6,
  .h6 {
    font-size: 0.9375;
    line-height: 1.3333;
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $gray;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}
