// Colors
$black: #1c1b20;
$gray: #848484;
$white: #ffffff;
$red: #e13510;
$blue: #0725fe;

$background: #fcf9f9;

// Lettermark colors

$red1: #99041a;
$red2: #ce0c0f;
$red3: $red;
$red4: #f27c00;
$red5: #fca01f;
$red6: #feb86e;

// Shadow
$boxShadow: 0 4px 12px rgba($black, 0.2);

// Border radius
$borderRadius: 0.25rem;

// Fonts
$baseFont: "a45", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
  sans-serif;
$boldFont: "a55", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
  sans-serif;
