.related {
  margin: 5rem 0 0;

  .posts {
    gap: 1rem;

    .post {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1rem;
      align-items: end;

      .media {
        .attachment-post-thumbnail {
          margin-bottom: 0;
        }
      }

      .content-box {
        .title {
        }

        .button {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Small devices (478px and up)
@media (min-width: 478px) {
  .related {
    .posts {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .related {
    margin: 6rem 0 0;
    .posts {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .related {
    margin: 8rem 0 0;
    .posts {
      grid-template-columns: 1fr 1fr 1fr;

      .post {
        grid-template-columns: 1fr;
        gap: 2rem;
        align-self: start;

        .media {
          .attachment-post-thumbnail {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
